body {
	/*background: radial-gradient(circle closest-corner at 700px 1030px,  rgb(22, 93, 121), 
				rgb(8, 29, 45), rgb(8, 25, 40));*/
	background: url(test.png) center;		
	color:#0e4d66;
	font: 14px Tahoma, sans-serif;
	width:100%;
	}


/*
  ========================================
  Хэдэр
  ========================================
*/
/*----------------------------------
  навигация
  ----------------------------------
 */
nav {
	margin-top: 56px; 
	margin-left: auto;
	margin-right: auto;
}


.logo {
	margin-top:50px;
 	width:252px;
	margin-left:auto;
	margin-right:auto;
}	



.social {
	width: 814px;
	margin:auto;
}
.social ul {
	
}

.social li {
	display: inline-block;
	padding-left: 60px;

}

.social a {
	list-style: none; /*? ли инлайн-блок */
	text-transform: uppercase;
	font-size: 1.2em;
	color:#f1f1f1;
	padding-left: 8px;
}

.social img {
	vertical-align: bottom;
}

.social li:first-child {
	padding:0;
}

/*----------------------------------
      анкета
------------------------------------*/
.card {
	
	background:#f3f3f3;
	max-width:814px;
	margin-left: auto;
	margin-right:auto;
	margin-top: auto;
    border-radius: 10px;
	box-shadow: 10px 10px 10px #08202a;
	
}


h2 {
	font-size:24px;
	margin-left: 68px;
	padding-top: 44px;
}

.personal {
margin-top: 32px;
/*overflow:hidden;*/
}

.photo img {
	border-bottom: 2px solid #092232;
	border-left: 2px solid #176a8d;
	border-top:2px solid #1c85af;
	border-right: 2px solid #176e92;
	padding: 5px;
	margin-left:68px;
	float:left;
	width:170px;
	border-radius: 5px;
}


.date {
	line-height: 2.46;
    list-style: none;
    display: inline-block;
    float: left; 
    width: 150px; 
    text-align: left; 
     
}


.sheet {
   	font-weight: bold;
    width: 164px;
    margin-top: -14px;
    margin-left: -12px;
    
} 


.user {
   	margin-left: -10px;
    margin-top: -15px;
    line-height: 2.46;

}

.paragraph {

	margin:auto;
	width:90%;
	padding-bottom: 35px;
}


.sheet2 {

   	font-weight: bold;
    width: 98px;
    margin-top: -2px;
    margin-left: -1px;
    line-height: 2.46;
} 

.contact {

	clear:both;
}

.contact h3 {
	padding-top: 10px;
    font-size: 18px;

}

.contact ul {
			
	list-style: none;
	display: inline-block;
	font-size: 14px;
    padding-left:0;
}


/*===================================
     футер
  ====================================*/

footer {
	margin-top:122px;

}

.phone {
	color: #e3a81f;
	font:24px Arial, sans-serif;
}
	
.tel {
    float:left;
    margin-right:400px;
   
}
	

span {
	font-size: 12px;
	color: #c0cace;
	font-family: Arial, sans-serif;
}



.adv {
	max-width:814px;
	margin: auto;
}

.logo-footer {
	
		
}

.logo-footer p {
	font: 12px Arial, sans-serif;
	color:white;
	line-height: .5;
}

p a {
	color:#2c6584;
}

.logo2 {
	float:left;
	padding-right: 16px;
}

.info {
	margin: -15px;	
}	

img .logo2 {
	width:10px;

}


@media screen and (min-width:320px) and (max-width: 992px) {


body {
	width: 992px;
}

.card {
	width:300px;

}

.social li {
	display: block;
	margin:auto;
	width:200px;
	
}

.photo img {
	margin-bottom: 15px;
}

footer div  {
	clear: both;
	width:300px;
	margin-left:auto;
}

}	

