
body {
	background: radial-gradient(circle closest-corner at 700px 1030px,  rgb(22, 93, 121), rgb(8, 29, 45), rgb(8, 25, 40));
	color:#0e4d66;
	font: 14px Tahoma, sans-serif;
	width:2000px;
	height: 1200px;

}

/*хэдер*/

nav {
	margin-top: 56px 
}

.social {
margin-left:581px;  
}

.social li {
	display: inline-block;
	font-size: 16px;
	color:#f1f1f1;
	padding-left: 60px;
}
li:first-child {
	padding:0;
}
.social a {
	font-size: 16px;
	color:#f1f1f1;
	text-transform: uppercase;
	padding-left:10px;


}

.logo 
{
	margin-left:865px;
	margin-top:50px;	
}

.logo img {
	width:252px;
	height: 53px;
}

/*Профайл юзера*/

.card {
	
	background:#f3f3f3;
	max-width:37%;
	height: 69%;
	margin-left:623px;
	margin-top: 24px;
    border-radius: 10px;
	box-shadow: 10px 10px 10px #08202a;
}

h2 {
	font-size:24px;
	margin-left: 68px;
    padding-top: 44px;
	
}

.personal {
margin-top: 32px;
/*overflow:hidden;*/
}

.photo img {
	border-bottom: 2px solid #092232;
	border-left: 2px solid #176a8d;
	border-top:2px solid #1c85af;
	border-right: 2px solid #176e92;
	padding: 5px;
	margin-left:68px;
	float:left;
	width:170px;
	border-radius: 5px;
			
}

.date {
	font-size: 14px;
    line-height: 2.46;
    list-style: none;
    display: inline-block;
    float: left; 
    width: 150px; 
    text-align: left; 
     
   }

   .sheet {
   	font-weight: bold;
    width: 164px;
    margin-top: -14px;
    margin-left: -12px;
    
   }

   .user {
   	margin-left: -23px;
    margin-top: -15px;
    line-height: 2.46;

   }

   .paragraph {

	margin-left:70px;
	width:620px;
}

   .sheet2 {

   	font-weight: bold;
    width: 98px;
    margin-top: -2px;
    margin-left: -1px;
    line-height: 2.46;
   } 
	.contact {
		clear:both;
	}

	

  
	.contact h3 {
	padding-top: 18px;
    font-size: 18px;
	}

	.contact ul {
			
	list-style: none;
	display: inline-block;
	font-size: 14px;
    padding-left:0;
	}

	/*footer*/

	.phone {
		color: #e3a81f;
		font:24px Arial, sans-serif;
	}
	
	.tel {
		    padding-left: 210px;
    		padding-top: 49px;
	}
	

	span {
		font-size: 12px;
		color: #c0cace;
		font-family: Arial, sans-serif;
	}

	.block {
		width:1190px;
		margin-left:410px; 
		border-top:1px solid #376f88;
		margin-top:50px;

	}

	.adv {
		width:741px;
	}

	.logo-footer {
		margin-left:794px;
		width:50%;
		margin-top: -52px;
		
	}

	.logo-footer p {

		font: 12px Arial, sans-serif;
		color:white;

	}

	p a {
		color:#2c6584;
	}

	.logo2 {
		float:left;
		padding-right: 16px;
	}

	.info {
		margin: -15px;

	}	